<div id='body'>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" style="height:70px">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" id="edit"></a>
    </li>
  </ul>
  <button id="alldel" type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#myModal" style="visibility:hidden">
    全て削除
  </button>
  <button id="editdone" type="button" class="btn btn-outline-success ml-auto" style="visibility:hidden">
    完了
  </button>
</nav>

<div class=container">
  <div class="row">
    <div class="col-md-4">
      <h4 id='display_name'></h4>
      <%= form_with scope: :card, url: "start" , method: :post, local: true, id: 'worktype_form' do |form| %>
      <% end %>

      <table class="table">
        <thead>
          <tr class="text-center"></tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>

      <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>本当に削除しますか？</p>
            </div>
            <div class="modal-footer">
              <%= button_to "削除", {action: "delete_all"}, {:class => "btn btn-danger"} %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">しない</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%= content_for :footer do %>
</div>

<div id="firebaseui-auth-container"></div>
<h4 id='loader'>Loading...</h4>

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script>
  $('#myModal').on('shown.bs.modal', function() {
    $('#myInput').trigger('focus')
  })
</script>
<% end %>
